h1 {
   color: rgb(17, 1, 10);
   text-align: center;
   background-image: image();
   font-size: 200%;
}

h2 {
   text-align: center;
   color: black;
}

h3 {
   text-align: center; 
   color: pink;
   font-style: normal;
   font-size: 50px;
   width: 95%;
   height: 80%;
}

@charset "  UTF-8";

i#burguer {
  background-color: rgb(110, 102, 102);
  color: pink;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  
}

i#burguer:hover {
  background-color: white;
  color: black;
  
}

menu {
  display: none;
  font-size: 20px;
  cursor: pointer;
 }

p {
  text-align: center;
  font-size: 20px;
  color: rgb(17, 1, 10);
}

a {
  text-align: center;
  color: rgb(128, 7, 73);
  cursor: pointer;
  padding: 10px;
  display: block;
}

main {
   background-image: url('imagens/nova_imagem.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

figure {
    text-align: center;
}

body {
   background-color: rgb(214, 235, 228);
}

div {
  display: inline-block;
  text-align: center;
  font-size: 150%;

    
}

ul {
  list-style-type: none
} 

.container {
   display: flex;
   justify-content: center;
}

 

